body {
	background: whitesmoke;
}

.calculator-content-body {
	width: 500px;
	float: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/* border: 5px solid #000; */
	padding: 10px;
}

.calculator-content-body-left {
	display: table-cell;
	/*float: left;
	border: 1px #000 solid;
	border-left-width: 0;
	border-top-width: 0;
	border-bottom-width: 0;*/
}


.calculator-content-body-right {
	display: table-cell;
	/*float: right;
	border: 1px #000 solid;*/
}